body{
  margin:0;
  padding: 0;
  background:url(https://images.unsplash.com/photo-1610332262984-c4b37b09bf8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGlnaHQlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
 
   background-size: cover;
  font-family:sans-serif;

}
.loginbox{
  width: 320px;
  height: 420px;
  background: #000;

  color:rgb(249, 246, 246);
  top:50%;
  left:50%;
  position:absolute;
  transform: translate(-50%,-50%);
  box-sizing:border-box;
  padding: 70px 30px;


}
.avatar{
  width:100px;
  height: 100px;
  border-radius:50%;
  position:absolute;
  top:-50px;
  left:calc(50% -50px);

}
h1{
  margin:0;
  padding:0 0 20px;
  text-align:center;
  font-size:22px;
}
.loginbox label{
  margin:0;
  padding:0;
  font-weight:bold;
}
.loginbox input{
  width:100%;
  margin-bottom: 20px;


}
.loginbox input[type="email"],input[type="password"]
{
  border:none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height:30px;
  color:#fff;
  font-size:20px;
}
.loginbox input[type="submit"]
{
  border:none;
  outline:none;
  height:40px;
  background:#99e1f5;
  color:#fff;
  font-size:18px;
  border-radius:20px;

}
.login input[type="submit"]:hover
{
  cursor:pointer;
  background:#ffc107;
  color:rgb(187, 34, 34);

}
.loginbox a{
  text-decoration: none;
  font-size:12px;
  line-height:20px;
  color:rgb(249, 246, 246);
}
.loginbox a:hover{
  color:#e09f1d;
}
img{
  margin-left: 70px;
}

.loginbox{
  
    
  border: 5px solid;
  border-image: linear-gradient(45deg, gold, deeppink) 1;
  
  animation: huerotate 6s infinite linear;
  filter: hue-rotate(360deg);
}

@keyframes huerotate {
  0% {
      filter: hue-rotate(0deg);
  }
  100% {
      filter: hue-rotate(360deg);
  }
}
p{
  font-size: small;
  text-align: center;
  
}
a:hover{
  color: aqua;
}


