body{
font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
@keyframes animatebg {
    100%{
        filter: hue-rotate(360deg);
   }    
}
@media(max-width:760px){


.header-social-icon {
    display:none;
}
}
.section-heading{
    color:var(--bs-orange);
}
li{
    padding: 1px;
    margin-left: 110px;
}

li:hover{
    background-color: rgb(151, 186, 218);

}
nav{
    background: rgba(197, 35, 57, 0.879)!important;
    box-shadow: 1px 1px 1px #4444;

}
nav.navbar-brand{
    color: var(--bs-orange);
}
.navbar-nav .nav-link{
    font-size:15px;
    padding-top: 5px;
    padding-bottom:5px;
    
}
.navbar-nav .nav-link:hover{
    
color: rgb(161, 127, 255);
}
.navbar-toggler{
    outline:none;
    padding: none;
}
.carousel-inner .carousel-item{
    width:100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
      

}

.carousel-inner .carousel-item ::before{
    content: '';
   
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    
}
.carousel-inner .carousel-caption{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:37%;
    left:0;
    right:0;
    bottom:0;
}
.carousel-inner .carousel-caption span{
    color:var(--bs-orange)
}
.carousel-inner .carousel-caption h2{
    color:#fff;
  
    font-size: 42px;
    font-weight: 600;
    width: 50%;
    margin: 0px auto 10px  auto;

}
.carousel-inner .carousel-caption p{
    font-size:20px;
    width:80%;
    margin:0px auto 10px  auto;
}
@media(max-width: 760px)
{
    .carousel-inner .carousel-caption h2{
        font-size: 38px;
    }
}
@media(max-width: 577px)
{
    .carousel-inner .carousel-caption h2{
        font-size: 25px;
    }
    .carousel-inner .carousel-caption p{
        font-size: 25px;
    }
}
.course .box{
    padding:10px 10px;
    box-shadow: 0px 2px 15px rgba(219, 23, 49, 0.1);
}
.course .box img{
    padding:10px 10px;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.1);
}
.btn:hover{
    background-color: rgb(9, 9, 9);
}


